.main-heading{
	font-weight: bold;
	font-size: 2rem;
}
.sub-heading{
	font-weight: bold;
	font-size: 1.3rem;
}
.norm-heading{
	font-weight: bold;
	font-size: .8rem;
}
.norm-text{
	font-size: .8rem;
}
.smaller-text{
	font-size: .7rem;
}
.text{
	color: white;
	font-size: 1.5rem;
}
.show-mob{
	display: none;
}
.show-tab{
	display: none;
}





body{
	
	background-image: linear-gradient(364deg, #ff3c00, #8b0d0d);
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	color: #ff9800;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#everything{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: .1% 124px;
	

}

/*Header Left*/
#header{
	height: 7%;
	width: 100%;
	padding-left: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}
#header-left{
	height: 100%;
	width: 50%;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	box-sizing: border-box;
	padding: 2px
}
#player-cred{
	width: 39%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
#player-logo{
	height: 100%;
    width: 30%;
	
}
#player-logo img{
	height: 100%;
	width: 100%;
	vertical-align: middle;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
}
#player-name{
	height: 100%;
	width: 65%;
	display: flex;
	flex-direction: row;
	font-weight: bold;
	font-size: 1.5rem;
	justify-content: flex-start;
	align-items: center;
	
}
#player-name span{
	display: block;
}
#favourites{
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
#favourites a{
	display: flex;
	margin: auto;
	text-decoration: none;
	color: #ff9800;
	font-size: .8rem;
}
#queue-link{
	display: none;
}
/*Header Left*/
/*Header Right*/
#header-right{
	height: 100%;
	width: 50%;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	box-sizing: border-box;
	padding: 2px
}
#search-bar{
	height: 60%;
	width: 60%;
	display: flex;
	flex-direction: row;
	background-color: #670209;
	box-sizing: border-box;
	border: 0 solid red;
	border-radius: 4px;
}
.search{
	height: 100%;
}
#search-bar input{
	width: 70%;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	color: #FF9800;

}

#search-bar div{
	width: 15%;
	text-align: center;
	display: table;
}
#search-bar div i{
	height: 80%;
	width: 80%;
	display: table-cell;
	vertical-align: middle;
}
::placeholder {
  color: #ff9800;
}

#notification-bell{
	height: 60%;
	width: 12%;
	display: table;
	text-align: center;
}
#notification-bell i{
	height: 80%;
	width: 80%;
	display: table-cell;
	vertical-align: middle;
}
#login-menu{
	height: 86%;
    width: 11%;
	background-color: #670209;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*display: table;
	text-align: center;*/
}
#login-menu img{
	background-size: contain;
	height: 80%;
	width: 80%;
	border-radius: 50%;
	/*display: table-cell;
	vertical-align: middle;*/
}
/*Header Right*/





/*Bigger devices*/



/*pop-creator-things*/
#pop-creator-things{
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	background-color: black;
	z-index: 100;
	padding: 0 40px;
	display: none;
}
/*pop-creator-things*/
/*Main*/

#main{
	height: 85%;
	width:100%;
	position :relative;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}
#main-left-content{
	height: 100%;
	width:70%;
	
	padding: 0px 40px ; 
	box-sizing: border-box; 
	overflow-y: scroll; 
}
#main-left-content::-webkit-scrollbar{
	display: none;
}
/*main-left*/
.zoom{
	height: 30%;
	width: 100%;
}
.zoom ul{
	height: 100%;
	width: 100%;
	padding-left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
}
#zoom-list{
	
	height: 100%;
	width: 30%;
	transition: transform .2s;
	
}

#zoom-list img{
	height: 100%;
	width: 100%;
	background-size: contain;
}
#zoom-list img:hover{
	transform: scale(1.2);
	cursor: pointer;
}

#latest-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	height: 28%;
	width: 100%;
	box-sizing: border-box;
	padding-left: 0px;
	margin-top: 4%;
}
#latest-heading{
	height: 20%;
	width: 100%;
}
#latest{
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
}
#latest-item{
	height: 45%;
	width: 45%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#latest-item-img {
	height: 100%;
	width: 30%;
	position: relative;
}
#latest-item-img img{
	height: 100%;
	width: 100%;
}
.play{
	position: absolute;
	top: 19%;
    margin-left: auto;
   	text-align: center;
	height: 100%;
	width: 100%;
	display: none;
	
	z-index: 12;
}
#latest-item-img:hover .play{
	display: block;
}
#latest-item-img:hover{
	cursor: pointer;
	opacity: .8
}
#latest-item-right{
	height: 100%;
	width: 65%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 1%;
	justify-content: flex-start;
}
#latest-item-right-2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#latest-item-right-1{
	align-self: flex-end;
}
#latest-item-right-1:hover{
	cursor: pointer;
}


#zoom-inside{
	height: 21%;
	width: 100%;
	box-sizing: border-box;
	padding-left: 0px;
	margin-top: 4%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	overflow-x: scroll;

}
#zoom-inside::-webkit-scrollbar{
	display: none;
}

.zoom-in{
	height: 100%;
	width: 32%;
	margin-right: 2%;
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.zoom-in img{
	height: 100%;
	width: 100%;
	display: block;
	transition: all 0.4s;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.zoom-in:hover .middle{
	opacity: 1;
}
.zoom-in:hover img{

	transform: scale(1.5);
}

#Popular-creator{
	height: 30%;
	width: 100%;
	box-sizing: border-box;
	margin-top: 4%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#Popular-creator-heading{
	height: 20%;
	width: 100%;
}
.Popular-creator-main{
	height: 70%;
	width: 100%;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	overflow-x: scroll;
}
.Popular-creator-main::-webkit-scrollbar{
	display: none;
}
.pop-creator{
	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.pop-creator-img{
	height: 80%;
	width: 80%;
	border-radius: 50%;
	overflow: hidden;
	transition: all .5s;
}
.pop-creator-img img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.pop-creator-img img:hover{
	border-radius: 50%;
	transform: scale(1.2);
	cursor: pointer;
}
.pop-creator-name{
	text-align: center;
	height: 20%;
	width: 100%;
}

#La-liga-container{
	height: 35%;
	width: 100%;
	box-sizing: border-box;
	margin-top: 4%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}
#a-liga-heading{
	height: 20%;
	width: 100%;
}
.la-liga-main{
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	overflow-x: scroll;
}
.la-liga-main::-webkit-scrollbar{
	display: none;
}
.la-liga-element{
	height: 95%;
	width: 32%;
	margin-right: 2%;
}
.la-liga-img{
	height: 75%;
	width: 100%;
	background-color:red;
}
.la-liga-img img{
	height: 100%;
	width: 100%;
}
.la-liga-text{
	height: 25%;
	width: 100%;
}

.dropdown-class {
  position: relative;
  display: inline-block;
}

#stadium{
	height: 20%;
	width: 100%;
	background-image: linear-gradient(364deg, #670209, #920808);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow-x: scroll;
	margin-top: 4%;

}
#stadium::-webkit-scrollbar{
	display: none;
}
.stad{
	height: 90%;
	width: 18%;
	position: relative;
	margin:0  4%;
}
.stad img{
	opacity: 0.6;
	height: 100%;
	width: 100%;
}
.mid{
	position: absolute;
	top: 40%;
	left: 14%;
	color: #ff9800;
	z-index: 100;
}
.circular-img{
	border-radius: 50%;
}

.dropdown-cont {
  display: none;
  position: absolute;
  right: 0;
  padding: 5px;
  background-color: #670209;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-cont div {
  color: #FF9800;
  padding: 1px;
  padding: 2.5px 2px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom-border{
	border-bottom: 1px solid black;
}
.dropdown-cont div:hover {background-color: #eca4a4;}

.dropdown-class:hover .dropdown-cont {
  display: block;
}



/*main-left*/


/*Main-right-queue*/
#main-right-queue{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 30%;
}
#Queue-Header{
	height: 8%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#Queue-Header-left{
	height: 100%;
	width: 60%;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.5rem;
}

#Queue-Header-right{
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 1.2rem;
}
#Queue-Dropdown-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
	background-color: #670209;
}
#Queue-Dropdown-content div{
	width: 100%;
	text-align: center;
	background-color: #670209;
}
#Queue-Dropdown-content:hover div:hover{
	background-color: #eca4a4;
	/*background-image: linear-gradient(364deg, #670209, #920808);*/
}
#drop-arrow{
	cursor: pointer;
	position: relative;
	display: inline-block;
	padding: 5px;
}
#Queue-Dropdown{
	display: none;
	position: absolute;
	min-width:200px;
	right: 0;
	z-index: 1;
	padding: 5px;
	background-color: #670209;
}
#drop-arrow:hover #Queue-Dropdown{
	display: block;
}

/*Main-right-queue*/
/*Main Queue*/
#Queue-Main{
	height: 90%;
	width: 100%;
	box-sizing: border-box;
	padding-top: 15px;
	/*overflow-y: scroll; */
	
}
/*#Queue-Main::-webkit-scrollbar{
	display: none;
}
*/
.decimal-leading{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	
	overflow-y: scroll;
	
}
.decimal-leading::-webkit-scrollbar{
	display: none;
}
.decimal-leading li{
	list-style-type: decimal-leading-zero;
	height: 10%;
	width: 100%;
	margin-bottom: 5px;
	
}
.li-all{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.li-img{
	height: 100%;
	width: 20%;
	object-fit: cover;
	flex-direction: row;
	align-items: center;
}
.li-con{
	box-sizing: border-box;
	padding-left: 5px;
	height: 100%;
	width: 70%;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
}
.li-con span{
	display: block;
	white-space: nowrap;
}
.li-heart{
	height: 100%;
	width: 10%;
	flex-direction: row;
	align-items: center;
}
.li-img img{
	height: 70%;
	width: 100%;
}

/*Main Queue*/

/*left open*/
#left-open{
	height: 100%;
	width: 3%;
	display: none;
	position: relative;
}
/*left open*/

/*Player*/

#player{
	height: 10%;
    width: 100%;
    position: absolute;
    margin: 0;
    bottom: 0%;
    right: 0;
    box-sizing: border-box;
    background-image: linear-gradient(364deg, #670209, #920808);
    padding: .2% 124px .2% 164px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
}
#Player-left{
	height: 100%;
	width: 25%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#Player-center{
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#Player-right{
	height: 100%;
	width: 25%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#top-left{
	display: none;
}
#top-right{
	display: none;
}
#top-center{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}
#song-img{
	height: 60%;
	width: 20%;
}
#song-img img{
	height: 100%;
	width: 100%;
}
#song-name{
	height: 60%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	white-space: nowrap;
}
#song-name span{
	display: block;
}
.Player-icons{
	width: 10%;
	text-align: center;
}
.sound-bar{
	height: 100%;
	width: 40%;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sound-bar-inside{
	height: 8%;
	width: 100%;
	background-color: grey;
	border-radius: 10px;
	position: relative;
}
.sound-bar-left{
	height: 100%;
	width: 40%;
	background-color: #4caf50;
	border-radius: 10px 0 0 10px;
}
.sound-bar-ball{
	position: absolute;
    height: 19%;
    width: 13%;
    background-color: #b89c9c;
    border: 1px solid grey;
    border-radius: 50%;
    left: 30%;
}
.sound-bar-big{
	height: 100%;
	width: 70%;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sound-bar-inside-big{
	height: 15%;
	width: 100%;
	background-color: grey;
	border-radius: 10px;
	position: relative;
}
.sound-bar-left-big{
	height: 100%;
	width: 40%;
	background-color: #4caf50;
	border-radius: 10px 0 0 10px;
}
.sound-bar-ball-big{
	position: absolute;
    height: 42%;
    width: 4%;
    background-color: #b89c9c;
    border: 1px solid grey;
    border-radius: 50%;
    left: 36%;
}
#Player-center-top{
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#Player-center-bottom{
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.player-time{
	text-align: center;
	margin: 0 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: -4px;
}
#hidden-queue{
	position: absolute;
	display: none;
	bottom: 0;
	right: 0;
	height: 84vh;
	width: 35vw;
	background-image: linear-gradient(364deg, #670209, #920808);

}

/*Player*/

/*Medium devices*/
@media only screen and (max-width: 1200px) {

#everything{
	padding: 10px 40px;
}
#player{
    padding: 4px 40px;
}
#header{
	padding: 0px;
}
#main-left-content{
	padding: 0px ; 
	padding-right: 5px;
}
@media only screen and (max-width: 1200px) {

#everything{
	padding: 4px 25px;
}
#player{
    padding: 5px 25px;
}
#header{
	padding: 0px;
}
#main-left-content{
	padding: 0px ; 
	padding-right: 5px;
}
@media only screen and (max-width: 1024px) {

#everything{
	padding: 0 0 0 10px;
}
#player{
    padding: 0 0 0 10px;
    z-index: 1002;
}
#header{
	padding: 0px;
}
#main{
	justify-content: space-between;
}
#main-left-content{
	padding: 0px ; 
	width: 95%;
}
#main-right-queue{
	display: none;
}
#Queue-Main {
    height: 100%;
    padding-top: 5px;
}

.queue-ham:hover{
	cursor: pointer;
}
#hidden-queue{
	z-index: 200;
}
#left-open:hover #hidden-queue{
	display: block;
	background-color: black;
}
#left-open{
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(364deg, #670209, #920808);
}
.zoom-in{
	width: 42%;
	margin-right: 2%;
}
.pop-creator {
    width: 23%;
}
}
@media only screen and (max-width: 780px) {

.show-tab{
	display: block;
}
/*top carasoul*/
#zoom-list img:hover{
	transform: none;
	cursor: pointer;
}
.zoom{
	overflow: hidden;
}
.zoom ul{
	width: 400%;
	position: relative;
	left: 0;
	margin: 0;
	animation: 5s slider infinite;
}
#zoom-list{
	width: 25%
}
@keyframes slider{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	80%{
		left: -200%;
	}
	85%{
		left: -300%;
	}
	100%{
		left: -300%;
	}
}

/*top carasoul*/


#hidden-queue {
	width: 45vw;
}
.HIDE{
	display: none;
}
#player{
	justify-content: center;
}
#Player-left{
	width: 15%;
	display: none;
}
#Player-right{
	display: none;
	width: 15%;
}
.sound-bar-big{
	width: 90%;
}
#Player-center{
	height: 100%;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#Player-center-top{
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0 2%;
}
#top-left{
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
#top-center{
	width: 40%;
    height: 100%;
    justify-content: space-between;
    margin-right: 10%;
}
#top-right{
	width: 10%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
}
#song-img{
	height: 100%;
	width: 25%;
}
#song-name{
	height: 80%;
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	white-space: nowrap;
}

}
/*Medium devices*/
/*Smaller Devices*/
@media only screen and (max-width: 600px) {
#player{
    padding: 0 0 0 0px;
    z-index: 1002;
}

/*Header*/
#player-name{
	display: none;
}
#header-left{
	display: none;
}

#player-logo{
	width: 13%;
}
#header-right{
	width: 100%;
	justify-content: space-between;
}
#search-bar{
	width: 64%;
}
#notification-bell {
    width: 4%;
}
#favourites{
	display: none;
}
/*Header*/


/*Player*/
#hidden-queue {
	width: 78vw;
}
.hide-mob{
	display: none;
}
.show-mob{
	display: block;
}
#top-center {
    margin-right: 0;
    width: 40%;
    justify-content: flex-end;
    padding-right: 3%;
}
#Player-center-top {
    padding: 0 ;
}
#top-left{
	width: 60%;
}
#top-right{
	display: none;
}
.player-time{
	display: none;
}
.sound-bar-big {
    width: 100%;
}
/*Player*/

/*Latest-Release*/

#latest-heading{
	height: 25%;
}

#latest-container {
    height: 18%;
}
#latest{
	height: 69%;
	overflow-y: scroll;
}
#latest::-webkit-scrollbar{
	display: none;
}
#latest-item{
	height: 101%;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 2%;
	
}
/*Latest-Release*/



/*Zoom-in*/
.zoom-in{
	width: 68%;
	margin-right: 2%;
}
/*Zoom-in*/

/*pop-creator*/
.pop-creator{
	width: 36%;
	margin-right: 5%;
}
/*pop-creator*/

/*International*/

.la-liga-element {
    width: 42%;
    margin-right: 2%;
}
/*International*/

/*Stadium*/
.stad {
	width: 37%;
}
/*Stadium*/
}
/*Smaller Devices*/
