.main-heading{
	font-weight: bold;
	font-size: 2rem;
}
.sub-heading{
	font-weight: bold;
	font-size: 1.3rem;
}
.norm-heading{
	font-weight: bold;
	font-size: .8rem;
}
.norm-text{
	font-size: .8rem;
}
.smaller-text{
	font-size: .7rem;
}
.text{
	color: white;
	font-size: 1.5rem;
}
.show-mob{
	display: none;
}
.show-tab{
	display: none;
}



body{
	
	background-image: linear-gradient(364deg, #ff3c00, #8b0d0d);
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	color: #ff9800;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#everything{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: .1% 124px;
	

}

/*Header Left*/
#header{
	height: 7%;
	width: 100%;
	padding-left: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}
#header-left{
	height: 100%;
	width: 50%;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	box-sizing: border-box;
	padding: 2px
}
#player-cred{
	width: 39%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
#player-logo{
	height: 100%;
    width: 30%;
	
}
#player-logo img{
	height: 100%;
	width: 100%;
	vertical-align: middle;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
}
#player-name{
	height: 100%;
	width: 65%;
	display: flex;
	flex-direction: row;
	font-weight: bold;
	font-size: 1.5rem;
	justify-content: flex-start;
	align-items: center;
	
}
#player-name span{
	display: block;
}
#favourites{
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
#favourites a{
	display: flex;
	margin: auto;
	text-decoration: none;
	color: #ff9800;
	font-size: .8rem;
}
#queue-link{
	display: none;
}
/*Header Left*/
/*Header Right*/
#header-right{
	height: 100%;
	width: 50%;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	box-sizing: border-box;
	padding: 2px
}
#search-bar{
	height: 60%;
	width: 60%;
	display: flex;
	flex-direction: row;
	background-color: #670209;
	box-sizing: border-box;
	border: 0 solid red;
	border-radius: 4px;
}
.search{
	height: 100%;
}
#search-bar input{
	width: 70%;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
	color: #FF9800;

}

#search-bar div{
	width: 15%;
	text-align: center;
	display: table;
}
#search-bar div i{
	height: 80%;
	width: 80%;
	display: table-cell;
	vertical-align: middle;
}
::placeholder {
  color: #ff9800;
}

#notification-bell{
	height: 60%;
	width: 12%;
	display: table;
	text-align: center;
}
#notification-bell i{
	height: 80%;
	width: 80%;
	display: table-cell;
	vertical-align: middle;
}
#login-menu{
	height: 86%;
    width: 11%;
	background-color: #670209;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*display: table;
	text-align: center;*/
}
#login-menu img{
	background-size: contain;
	height: 80%;
	width: 80%;
	border-radius: 50%;
	/*display: table-cell;
	vertical-align: middle;*/
}
/*Header Right*/


/*pop-creator-things*/

/*pop-creator-things*/
/*Main*/

#main{
	height: 84%;
	width:100%;
	position :relative;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	padding-top: 2%;
}
#main-left-content{
	height: 100%;
	width:75%;
	
	padding: 0px 40px ; 
	box-sizing: border-box; 
	overflow-y: scroll; 
}
#main-left-content::-webkit-scrollbar{
	display: none;
}
/*main-left*/

#artist{
	
	height: 50%;
	width: 100%;
	box-sizing: border-box;
    background-color: #670209;
    display: flex;
    flex-direction: row;
}
#artist-left{
	height: 100%;
	width: 40%;
}
#artist-left img{
	height: 100%;
	width: 100%;
}
#artist-right{
	box-sizing: border-box;
	padding: 2%;
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
#art-right-header{
	height: 13%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#art-right-place{
	height: 5%;
	width: 100%;
}
#art-right-content{
	margin-top: 2%;
	height: 30%;
	width: 100%;
	text-align: justify;
}
#art-right-button{
	height: 15%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#art-right-button-div{
	height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#art-right-button-div button{
	height: 70%;
    width: 100%;
    background-image: linear-gradient(364deg, #817b91, #071d35);
    border: none;
    color: #F57F17;
}
#art-right-button button:hover{
	cursor: pointer;
}
#art-right-total{
	height: 30%;
	width: 100%;
	text-align: center;
	font-size: .9rem;
}
#subs:hover{
	cursor: pointer;
}

#artist-list{
	margin-top: 2%;
	height: 50%;
	width: 100%;
	box-sizing: border-box;
}

ol{
	height: 100%;
	width: 100%;
	padding-left: 0; 
	margin-left:0;
	counter-reset: item;
	 
}
ol li{
	padding-left: 0;
	margin-left: 0;
	counter-increment: item;
	list-style: none;
	padding: 0 .8%;
}
.art-list{
	height: 20%;
	width: 100%;
	box-sizing: border-box;
    background-color: #670209;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .3%;

}
.art-list-img{
	height: 100%;
	width: 94%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}
.art-list-img img{
	height: 75%;
	width: 10%;
	margin-right: 1%;

}
.art-list-img-play{
	display: none;
	top: 37%;
	left: 4%;
	position: absolute;
	color: #e65100;
	z-index: 100;
}
.art-list-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
	width: 92%;
	/*white-space: nowrap;*/
}
.art-list-icons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 6%;

}
.art-list-img:hover .art-list-img-play{
	display: block;
}
.art-list-img:hover {
	cursor: pointer;
}
.art-list-img img:hover{
	cursor: pointer;
	opacity: 0.8;
}
.art-list-icons:hover{
	cursor: pointer;
}

ol>li:before{
	content: counter(item,decimal-leading-zero) ".";
	padding-right: 0.5rem;
}


/*main-left*/


/*Main-right-queue*/
#similar-artist{
	width: 100%;
	height: 50%;
}
#similar-artist-main{
	width: 100%;
	height: 92%;
	margin-top: 2%;
	
}
#latest{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
}
#latest-item{
	height: 32%;
	width: 100%;
	padding-top: 3%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#latest-item-img {
	height: 100%;
	width: 30%;
	position: relative;
}
#latest-item-img img{
	height: 100%;
	width: 100%;
}
.play{
	position: absolute;
	top: 19%;
    margin-left: auto;
   	text-align: center;
	height: 100%;
	width: 100%;
	display: none;
	
	z-index: 12;
}
#latest-item-img:hover .play{
	display: block;
}
#latest-item-img:hover{
	cursor: pointer;
	opacity: .8
}
#latest-item-right{
	height: 100%;
	width: 70%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding:0 3%;
	justify-content: flex-start;
}
#latest-item-right-2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#latest-item-right-1{
	align-self: flex-end;
}
#latest-item-right-1:hover{
	cursor: pointer;
}
.dropdown-class {
  position: relative;
  display: inline-block;
}
.dropdown-cont {
  display: none;
  position: absolute;
  right: 0;
  padding: 5px;
  background-color: #670209;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-cont div {
  color: #FF9800;
  padding: 1px;
  padding: 2.5px 2px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottom-border{
	border-bottom: 1px solid black;
}
.dropdown-cont div:hover {background-color: #eca4a4;}

.dropdown-class:hover .dropdown-cont {
  display: block;
}
#main-right-queue{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 25%;
	overflow-y: scroll;
}
#main-right-queue::-webkit-scrollbar{
	display: none;
}

#Queue-Header{
	height: 8%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;

}
#Queue-Header-left{
	height: 100%;
	width: 70%;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.5rem;
}

#Queue-Header-right{
	height: 100%;
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.2rem;
}

/*Main-right-queue*/
/*Main Queue*/
#Queue-Main{
	height: 50%;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}
#Queue-Main::-webkit-scrollbar{
	display: none;
}


.decimal-leading{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0;
	
}
.decimal-leading li{
	list-style-type: decimal-leading-zero;
	/*height: 20%;*/
	width: 100%;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	
}
.li-all{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.li-img{
	height: 100%;
	width: 20%;
	object-fit: cover;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.li-con{
	box-sizing: border-box;
	padding-left: 5px;
	height: 100%;
	width: 70%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.li-con span{
	display: block;
}
.li-heart{
	
	width: 10%;
	flex-direction: row;
	align-items: center;
}
.li-img img{
	height: 70%;
	width: 100%;
}

/*Main Queue*/
/*left open*/
#left-open{
	height: 100%;
	width: 3%;
	display: none;
	position: relative;
}
/*left open*/
/*Player*/

#player{
	height: 10%;
    width: 100%;
    position: absolute;
    margin: 0;
    bottom: 0%;
    right: 0;
    box-sizing: border-box;
    background-image: linear-gradient(364deg, #670209, #920808);
    padding: .2% 124px .2% 164px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
}
#Player-left{
	height: 100%;
	width: 25%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#Player-center{
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#Player-right{
	height: 100%;
	width: 25%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#top-left{
	display: none;
}
#top-right{
	display: none;
}
#top-center{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}
#song-img{
	height: 60%;
	width: 20%;
}
#song-img img{
	height: 100%;
	width: 100%;
}
#song-name{
	height: 60%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	white-space: nowrap;
}
#song-name span{
	display: block;
}
.Player-icons{
	width: 10%;
	text-align: center;
}
.sound-bar{
	height: 100%;
	width: 40%;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sound-bar-inside{
	height: 8%;
	width: 100%;
	background-color: grey;
	border-radius: 10px;
	position: relative;
}
.sound-bar-left{
	height: 100%;
	width: 40%;
	background-color: #4caf50;
	border-radius: 10px 0 0 10px;
}
.sound-bar-ball{
	position: absolute;
    height: 19%;
    width: 13%;
    background-color: #b89c9c;
    border: 1px solid grey;
    border-radius: 50%;
    left: 30%;
}
.sound-bar-big{
	height: 100%;
	width: 70%;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sound-bar-inside-big{
	height: 15%;
	width: 100%;
	background-color: grey;
	border-radius: 10px;
	position: relative;
}
.sound-bar-left-big{
	height: 100%;
	width: 40%;
	background-color: #4caf50;
	border-radius: 10px 0 0 10px;
}
.sound-bar-ball-big{
	position: absolute;
    height: 42%;
    width: 4%;
    background-color: #b89c9c;
    border: 1px solid grey;
    border-radius: 50%;
    left: 36%;
}
#Player-center-top{
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#Player-center-bottom{
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.player-time{
	text-align: center;
	margin: 0 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: -4px;
}
#hidden-queue{
	position: absolute;
	display: none;
	bottom: 0;
	right: 0;
	height: 81.4vh;
	width: 35vw;
	overflow: hidden;
	background-color: #4b3434;

}

/*Player*/

/*Medium devices*/
@media only screen and (max-width: 1200px) {

#everything{
	padding: 10px 40px;
}
#player{
    padding: 4px 40px;
}
#header{
	padding: 0px;
}
#main-left-content{
	padding: 0px ; 
	padding-right: 5px;
}
@media only screen and (max-width: 1200px) {

#everything{
	padding: 4px 25px;
}
#player{
    padding: 5px 25px;
}
#header{
	padding: 0px;
}
#main-left-content{
	padding: 0px ; 
	padding-right: 5px;
}
@media only screen and (max-width: 1024px) {

#everything{
	padding: 0 0 0 10px;
}
#player{
    padding: 0 0 0 10px;
    z-index: 1002;
}
#header{
	padding: 0px;
}
#main{
	justify-content: space-between;
}
#main-left-content{
	padding: 0px ; 
	width: 95%;
}
#main-right-queue{
	display: none;
}
#Queue-Main {
    height: 42%;
    padding-top: 5px;
}

.queue-ham:hover{
	cursor: pointer;
}
#hidden-queue{
	z-index: 200;
}
#left-open:hover #hidden-queue{
	display: block;
	/*background-color: black;*/
}
#left-open{
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(364deg, #670209, #920808);
}
.zoom-in{
	width: 42%;
	margin-right: 2%;
}
.pop-creator {
    width: 23%;
}
#latest {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2% 0;
    justify-content: space-between;
    box-sizing: border-box;
}
#latest-item {
    padding-top: 0%; 
}
#similar-artist-main {;
    margin-top: 0%; 
}
.decimal-leading li {
    
    
}
#Queue-Main {
     padding-top: 0; 
}
}
@media only screen and (max-width: 780px) {



#hidden-queue {
	width: 45vw;
}
.HIDE{
	display: none;
}
#player{
	justify-content: center;
}
#Player-left{
	width: 15%;
	display: none;
}
#Player-right{
	display: none;
	width: 15%;
}
.sound-bar-big{
	width: 90%;
}
#Player-center{
	height: 100%;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#Player-center-top{
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0 2%;
}
#top-left{
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
#top-center{
	width: 40%;
    height: 100%;
    justify-content: space-between;
    margin-right: 10%;
}
#top-right{
	width: 10%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
}
#song-img{
	height: 100%;
	width: 25%;
}
#song-name{
	height: 80%;
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	white-space: nowrap;
}

}
/*Medium devices*/
/*Smaller Devices*/
@media only screen and (max-width: 600px) {
#player{
    padding: 0 0 0 0px;
    z-index: 1002;
}

/*Header*/
#player-name{
	display: none;
}
#header-left{
	display: none;
}

#player-logo{
	width: 13%;
}
#header-right{
	width: 100%;
	justify-content: space-between;
}
#search-bar{
	width: 64%;
}
#notification-bell {
    width: 4%;
}
#favourites{
	display: none;
}
/*Header*/


/*Player*/
#hidden-queue {
	width: 78vw;
}
#hide-mob{
	display: none;
}
.hide-mob{
	display: none;
}
.show-mob{
	display: block;
}
#top-center {
    margin-right: 0;
    width: 40%;
    justify-content: flex-end;
    padding-right: 3%;
}
#Player-center-top {
    padding: 0 ;
}
#top-left{
	width: 60%;
}
#top-right{
	display: none;
}
.player-time{
	display: none;
}
.sound-bar-big {
    width: 100%;
}
/*Player*/
.art-list{
	justify-content: flex-start;
}
.art-list-img{
	width: 82%;
}
.art-list-text div:last-child{
	display: none;
}
#artist{
	flex-direction: column;
}
#artist-left {
    height: 70%;
    width: 100%;
}
#artist-right {
    height: 30%;
    width: 100%;
}
#art-right-header {
    height: 50%;
}
#art-right-button {
    height: 50%;
}
#art-right-button-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#art-right-total {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

}
/*Smaller Devices*/
